<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    
    <typeAliases>
        <package name="cn.interestingshop.entity"/>
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/interesting_shop_db?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="110110As."/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/GoodsMapper.xml"/>
        <mapper resource="mappers/OrderMapper.xml"/>
        <mapper resource="mappers/NoticeMapper.xml"/>
        <mapper resource="mappers/ClassifyMapper.xml"/>
        <mapper resource="mappers/UserAddressMapper.xml"/>
    </mappers>
</configuration> 